*.iml
.gradle
.idea
!.idea/codeStyles/
.kotlin
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# AI
.ai
*.local.*
!*.local.template*
# Secrets
google-services.json
.env
*.keystore
!debug.keystore
keystore.properties
